.container {
  background: #25282d;
  padding: 2rem 3.5rem 2rem 4.5rem;
  border-radius: 22px;

  .tabsContainer {
    display: flex;
  }

  .tabButtonContainer {
    display: flex;
    align-items: center;
  }

  .cardGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 2rem;

    .row {
      margin-bottom: 3rem;
    }

    .tallCardCol {
      .row {
        display: flex;
      }

      padding: 0 1rem 0 0;
    }
    .shortCardCol {
      .row {
        display: flex;
      }
    }
  }
}
