.navLinks {
  margin: 4rem 0;

  .navLink {
    display: flex;
    margin: 1rem 0;
    align-items: center;

    .text {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 500;
      font-size: 1.1rem;
      letter-spacing: -0.25px;
    }

    &.active {
      .text {
        color: rgba(255, 255, 255, 1);
      }
    }

    .gap {
      flex-grow: 1;
    }

    .buttonContainer {
      .dummyButton {
        height: 28.3px;
      }
    }
  }
}
