.tabsContainer {
  display: flex;
}

.tab {
  margin-right: 4rem;
  padding: .5rem 0;
  border-bottom: 2px solid transparent;
  color: rgba(255,255,255,0.7);
  cursor: pointer;
  font-weight: 400;

  &.active {
    border-bottom-color: #f96c9e;
    color: rgba(255,255,255,1);
    font-weight: 500;
  }
}