@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Roboto, Poppins, 'Segoe UI', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  background: #2b2e37;
  color: #ffffff;
  letter-spacing: -0.2px;
}

body > #__next {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
